{{ define "controls" }}
<html>
    <head>
        {{ template "head" "Controls" }}
        <style type="text/css">
            body {
                background-color: #FFFFFF;
            }
            .ui.menu .item img.logo {
                margin-right: 1.5em;
            }
            .main.container {
                margin-top: 7em;
                min-height: 30em;
            }
            .wireframe {
                margin-top: 2em;
            }
            .ui.footer.segment {
                margin: 5em 0em 0em;
                padding: 5em 0em;
            }
        </style>
        <script>
            var categoryContent = [
                {{ range .Controls }}
              { category: '{{ .Type }}', title: '{{ .ID }} - {{ .Name }}', url: '/controls/{{.ID}}' },
                {{ end }}
            ];
        </script>
    </head>
    <body>
        <div class="ui fixed inverted borderless menu">
            <div class="ui container">
                <a href="/" class="header item">
                    Security checks
                </a>
                <a href="/upload" class="item">Upload</a>
                <a class="right item" href="/logout">
                    <i class="logout icon"></i>
                </a>
            </div>
        </div>
        <div class="ui main container">
            <div class="ui fluid search">
                <div class="ui icon fluid input">
                    <input class="prompt" type="text" placeholder="Search controls...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
            {{ if .Parent }}
            <h1 class="ui header">
                <a class="item" href="/controls/{{.Parent.ID}}/html">{{.Parent.ID}} - {{.Parent.Name}}</a>
            </h1>
            {{ end }}
            {{ if .Control }}
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">{{.Control.ID}} - {{.Control.Name}}</div>
                    <div class="meta">
                        <div class="ui label">{{.Control.Type}}</div>
                        {{if .Control.GDPR }}<div class="ui label">GDPR</div>{{end}}
                    </div>
                    <div class="description">
                        <p>{{.Control.Description}}</p>
                        <div class="ui relaxed divided list">
                        {{ range .Children }}
                            <a class="item" href="/controls/{{.ID}}/html">{{.ID}} - {{.Name}}</a>
                        {{ end }}
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        <script>
        $('.ui.search')
                .search({
                    type: 'category',
                    source: categoryContent,
                    searchFields: ['title', 'category'],
                    fullTextSearch: 'exact',
                });
        </script>
    </body>
</html>
{{ end }}