{{ define "upload" }}
<html>
    <head>
        {{ template "head" "Upload" }}
        <style type="text/css">
            body {
                background-color: #FFFFFF;
            }
            .ui.menu .item img.logo {
                margin-right: 1.5em;
            }
            .main.container {
                margin-top: 7em;
            }
            .wireframe {
                margin-top: 2em;
            }
            .ui.footer.segment {
                margin: 5em 0em 0em;
                padding: 5em 0em;
            }
        </style>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="/" class="header item">
                    Security checks
                </a>
                <a href="/upload" class="item">Upload</a>
            </div>
        </div>
        <div class="ui main text container">
            <h1 class="ui header">Upload your Excel file</h1>
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <div>
                    <label for="file">File:</label>
                    <input type="file" name="file" id="file">
                </div>
                <div>
                    <label for="worksheet">Worksheet:</label>
                    <input type="text" name="worksheet" id="worksheet" maxlength="80">
                </div>
                <div>
                    <input type="submit" value="Upload">
                </div>
            </form>
        </div>
        {{ template "footer" }}
    </body>
</html>
{{ end }}